{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/core.memoize {:mvn/version "0.7.1"}
        instaparse {:mvn/version "1.4.8"}
        org.clojure/tools.cli {:mvn/version "0.3.5"}
        cheshire {:mvn/version "5.8.0"}
        net.thisptr/jackson-jq {:mvn/version "0.0.8"}
        com.bhauman/rebel-readline {:mvn/version "0.1.1"}}
 :aliases
 {:cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.238"}
    cljsjs/nodejs-externs {:mvn/version "1.0.4-1"}
    com.cognitect/transit-cljs {:mvn/version "0.8.243"}}}
  :cljs-test
  {:extra-deps {olical/cljs-test-runner {:mvn/version "0.1.1"}}
   :main-opts ["-m" "cljs-test-runner.main"]}
  :test {:extra-paths ["test" "test-resources"]
         :extra-deps
         {circleci/circleci.test {:mvn/version "0.4.1"}
          cloverage {:mvn/version "1.0.10"}}
         :main-opts ["-m" "cloverage.coverage"
                     "--runner" "circleci.test"
                     "--ns-regex" ".*\\.jj.*"
                     "--ns-exclude-regex" "clojure\\.core.*"
                     "--src-ns-path" "src"
                     "--test-ns-path" "test"
                     "--fail-threshold" "95"]}
  :uberjar {:extra-paths ["target/custom"]}}}
